* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}
body {
  background-color: #eeeeee;
  font-family: "Roboto", sans-serif;
}
.navigation-rail {
  display: flex;
  width: 200px;
  height: 100vh;
  padding: 50px 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background: #fff;
  box-shadow: 2px 0 6px 0 rgba(0, 0, 0, 0.25);
}

.navigation1,
.navigation2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.dashboard,
.applications,
.store,
.profile,
.logout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}
.link-1 {
  color: #754ff6;
}
.link-2 {
  color: #e5807c;
}
